[2013-09-08 08:20] westonruter opened #2 "Hide sidebar sections for sidebars not appearing in the preview"

[2013-09-08 09:26] westonruter opened #4 "Send back refreshed nonce when updating"

[2013-09-08 09:50] westonruter opened #6 "Skip controls for widgets which lack forms?"
Detection for whether or not a widget has a form defined may need to use the Reflection API to detect if the `form` method on the widget object is defined on the base class or if it has been overridden by the widget subclass.

[2013-09-10 15:45] westonruter opened #7 "Show widget form controls initially in collapsed state"
Since all widget form controls are shown in full when the customizer section is expanded, it can take up a lot of room and make it difficult to navigate to the desired widget. So they should all be presented in a minimized state, though not like an accordion since we want to be able to have multiple widget controls open at a time.

[2013-09-10 16:40] westonruter opened #8 "Customizer Messenger (postMessage) instead of cross-frame communication"
When the preview window loads, it communicates to the host page to show only the customizer sections for sidebars that were rendered on the page. We're doing this just [accessing jQuery in the parent frame](https://github.com/x-team/wp-widget-customizer/blob/82f72d3600da345c6e2a58d688a360e396eebb28/widget-customizer-preview.js#L9-L14) and not using postMessage or the Customize Messenger library. I

[2013-09-10 16:51] westonruter opened #9 "Animate showing/hiding of sidebar sections"
If a sidebar section is open and the Preview frame changes its URL to one on which the sidebar is not rendered, the section would abruptly toggle. It would be nice if the section would toggle with sliding animation, similar to the accordion for the sections. So the logic for hiding a section should first trigger the animation to close the section, and then should follow with collapsing the accordi

[2013-09-12 17:54] westonruter opened #10 "Add banner image to WordPress plugin directory"
Via [FAQ](http://wordpress.org/plugins/about/faq/):

[2013-09-12 18:56] johnregan3 commented on #10
@westonruter Here is a first draft on the banner image (just the 772x250 for now):

![banner-772x250](https://f.cloud.github.com/assets/2053940/1133404/d0c138da-1bdc-11e3-8a4a-47790b664b64.png)

[2013-09-12 19:00] westonruter commented on #10
@johnregan3 great! Suggestion: could you make the window narrower so that the customizer form appears alongside the widget in the sidebar? I used twentytwelve in the screenshots I made, and with resizing the widget of the window it was easy to get the sidebar and the customizer control to appear side-by-side.

[2013-09-12 19:14] johnregan3 commented on #10
@westonruter Here's a different version based on your input:

![banner-772x250](https://f.cloud.github.com/assets/2053940/1133542/851c35ee-1bdf-11e3-86d7-bbe1b2f58809.png)

[2013-09-12 19:30] johnregan3 commented on #7
@westonruter Could this be an accordion that allows you to have multiple panels open?

[2013-09-12 19:45] westonruter commented on #7
@johnregan3 sure! Is that an option with the accordion library used in core? I was thinking it might be nice to replicate this UI:

![widgets__local_wordpress_trunk_dev__wordpress](https://f.cloud.github.com/assets/134745/1133755/cd473108-1be3-11e3-9976-a836310b803d.png)

[2013-09-12 19:46] johnregan3 commented on #7
@westonruter That looks good.  I always try to use WP UI.  I'd like to take a stab at this one.

[2013-09-12 19:48] westonruter commented on #10
Looks good! What about adding some arrow overlay to indicate that the panel in the left will affect the preview on the right? A rough idea:

![pasted_image_9_12_13_12_47_pm](https://f.cloud.github.com/assets/134745/1133782/460e73f8-1be4-11e3-9592-26af20f7e461.png)

[2013-09-12 19:49] westonruter commented on #7
@johnregan3 go for it!

[2013-09-12 20:11] johnregan3 commented on #10
@westonruter Sounds good.  It gives a visual cue as to what's going on.

![banner-772x250](https://f.cloud.github.com/assets/2053940/1133929/73285dd8-1be7-11e3-85ed-d06923c4f27e.png)

[2013-09-12 20:17] johnregan3 commented on #10
@westonruter Here's one with some color:

![banner-772x250-bl](https://f.cloud.github.com/assets/2053940/1133996/4fe25c74-1be8-11e3-9d53-8ba9cc4238f1.png)

[2013-09-12 20:20] westonruter commented on #10
@johnregan3 Looks really good! I like the color. Only other suggestion I would have is to make the arrow swoop down and then go up to the widget in the sidebar, you know to fill up some of the empty space in the banner.

[2013-09-12 20:32] johnregan3 commented on #10
@westonruter I see what you're saying.

![banner-772x250-bl](https://f.cloud.github.com/assets/2053940/1134100/5f2185c8-1bea-11e3-816a-586c0ca16516.png)

[2013-09-12 20:38] westonruter commented on #10
There we go. Make it so!

[2013-09-13 00:39] johnregan3 commented on #7
@westonruter I'm still working out how to add a PR to an issue via hub.  In the meantime, you can review my PR at https://github.com/x-team/wp-widget-customizer/pull/12

[2013-09-17 08:58] #7 closed, assigned to nobody

[2013-09-23 20:28] westonruter opened #15 "Utilize new temp hooks to make detection of sidebars in preview more robust"
See:
http://core.trac.wordpress.org/ticket/25368
http://core.trac.wordpress.org/changeset/25580

With these temp hooks, we can now reliably detect if a sidebar is used on a template, whereas before it would fail if the sidebars were empty.

[2013-09-24 05:30] westonruter commented on #6
No. We want to be able to re-order these widgets. See #1.

[2013-09-24 05:30] #6 closed, assigned to nobody

[2013-09-24 05:32] westonruter commented on #2
See 8423337eb5807dec84c27f12b47691074c1337f3 and 146ae7df3ca9dc4b9eca3307a2ed1b078b572c35

[2013-09-24 05:32] #2 closed, assigned to nobody

[2013-09-25 06:39] westonruter opened #17 "Allow widgets to be edited inline"
Instead of having to look up the widget's control in the customizer, what if the widget's form could be brought in alongside the widget itself in the preview? There could be a **Edit** button that appears next to a widget when hovering over it, and when clicking it could make the widget form appear.

[2013-09-25 06:45] westonruter opened #18 "Add support for wide widget form controls"
Widget form controls are able to specify their widget, like if a widget's form needs extra space to be able to fit the fields inside of it. We should allow customize widget form controls in the customizer panel to expand outside of the sidebar area when they are expanded.

But how can a wide widget control expand over the preview?

![customize__wordpress_develop___just_another_wordpress_site_and_w

[2013-09-26 08:59] westonruter opened #19 "Hide widget form controls if the widget is not rendered in the loaded preview"
We have addressed this for hiding sidebars which aren't rendered in the customizer preview, but what about widgets that get skipped from being rendered in a sidebar by means of some plugin action? The forms for these widgets should be hidden.

[2013-09-27 15:03] shaunandrews commented on #17
A quick idea:

![inline-edit](https://f.cloud.github.com/assets/191598/1226704/cb821812-2785-11e3-94af-fc7557e7666e.png)

Do you think the editor should always show up next to the widget itself? What if the user clicks to edit the widgets from within the customizer sidebar?

[2013-09-27 19:25] bobbravo2 commented on #4
The nonce is valid for that action for 12 hours - so if we refresh it - we'd need to add a wp_create_nonce("action_$index") to make it unique / expire. That way the nonce would only be valid for that request.

The reason I'm unsure - is that my understanding of NONCE's - is that the original NONCE would still be valid - therefore we'd only be adding a layer of complexity by refreshing the nonce. I

[2013-09-28 05:48] westonruter commented on #4
Yes, multiple nonces would continue to be valid concurrently. But it's not a problem to have more than once nonce that is valid at the same time. My concern is that someone could have the customizer left open in a window over night, and then when they come back and try to make a change, they could get an error because of an invalid nonce. But I suppose just refreshing the nonce won't do it either,

[2013-09-28 05:55] westonruter commented on #17
@shaunandrews wow. I love it!

Regarding what should happen when the user clicks a widget form in the sidebar, here's a crazy idea: what if clicking the collapsed control in the customizer sidebar would simultaneously cause the preview window to scroll so that the widget is in view, while at the same time the widget form would expand and fly out from the sidebar and land next to the widget showing

[2013-09-28 07:05] westonruter opened #20 "Handle empty sidebars"
If a customizer section is empty of any controls, it will not get rendered. This causes problems for empty sidebars, since each sidebar is currently represented with a customizer section. This problem would be alleviated if we had a control which was added to each and every sidebar which was for the `sidebars_widgets[sidebar_id]` setting. This control could also be used for adding new widgets to t

[2013-09-28 15:29] shaunandrews commented on #17
I guess that makes sense, since we would be scrolling to show the active widget anyways. I'm a little concern that this is a lot of motion to have. I won't really know for sure until I can play with it and get a first-hand feeling for it all.

[2013-09-30 04:05] westonruter commented on #20
Resolved by addition of sidebar_widgets control in #1

[2013-09-30 04:05] #20 closed, assigned to nobody

[2013-09-30 04:06] westonruter commented on #19
Maybe this is a bad idea. If a widget has a field which indicates which pages/templates it should appear on, this would then mean that this field could never be edited unless you were able to find the page for which you had opted-in for the widget to display on.

[2013-09-30 04:06] #19 closed, assigned to nobody

[2013-09-30 05:50] westonruter commented on #10
@johnregan3 would you mind updating the banner image now to showcase the new collapsable UI you added, and maybe the new drag-and-drop reordering of widgets in the customizer section?

[2013-09-30 14:20] johnregan3 commented on #10
@westonruter I can do that!

[2013-09-30 14:51] johnregan3 commented on #10
Starting Point:
![banner-772x250](https://f.cloud.github.com/assets/2053940/1237900/cee39c18-29df-11e3-83b4-995e31720f7c.jpg)

[2013-09-30 16:45] westonruter commented on #10
@johnregan3 Great! Love the visualization of the drag-and-drop.
- [ ] I think we can drop the bullet pointed text overlay, as it is obscuring an important company logo :wink:
- [ ] Could you expand one of the widget controls to show what is inside?
- [ ] Maybe use another widget than a second Text widget instance.

Other than that, good to go!

[2013-09-30 19:33] westonruter opened #22 "Add support for deleting widgets"
Just as there is a **Delete** link in the Widgets admin page for eliminating a widget from a sidebar, this same link should be in the widget form customizer control.

Relates to #3 (adding widgets)

Note that the widget control form currently hides the **Delete** button since it is not currently implemented:

![pasted_image_10_8_13_10_18_am](https://f.cloud.github.com/assets/134745/1289641/c6ce005

[2013-09-30 19:33] westonruter opened #23 "Do more user tests"

[2013-10-01 04:45] westonruter opened #24 "Allow dragging widgets between customizer sidebar sections"
When dragging a widget on top of another sidebar section, it should expand so that it can then be dropped inside (or there should be a minimum height).

[2013-10-01 06:20] #15 closed, assigned to nobody

[2013-10-01 06:20] westonruter opened #25 "Add unit tests"

[2013-10-01 06:52] westonruter opened #26 "Add keyboard-accessible way to expand/collapse widget form controls"

[2013-10-02 04:30] westonruter commented on #24
Now (with af85be1) when dragging a widget form control outside of a section and onto the title of another section, the other section will expand as well, allowing you to drag widgets between sidebars in the customizer.

![customize__wordpress_develop___just_another_wordpress_site](https://f.cloud.github.com/assets/134745/1251166/27b1630c-2b1b-11e3-93a4-756c42642d59.png)

[2013-10-02 04:30] #24 closed, assigned to nobody

[2013-10-02 04:31] westonruter commented on #24
It's too bad that the customizer accordion doesn't have a cleaner way to have more than one section expanded at a time.

[2013-10-04 14:06] johnregan3 commented on #10
@westonruter  Ver 2:
![banner-772x250](https://f.cloud.github.com/assets/2053940/1269740/2d6fe3f6-2cfe-11e3-9bb6-35f06db8e963.png)

[2013-10-04 16:28] westonruter commented on #10
:boom: commit!

[2013-10-07 20:14] #10 closed, assigned to nobody

[2013-10-08 14:14] TrevorMills commented on #22
@westonruter that commit does not reflect this issue.  Please ignore.  It was a brain fart moment.

[2013-10-08 14:28] westonruter commented on #22
@TrevorMills ok :smile:

By the way, I updated the description in this issue to include a screenshot depicting what is going on with the hidden Delete link in the widget control form.

[2013-10-08 14:30] TrevorMills commented on #22
@westonruter coolio.  I'm working on this one now.  Commit 3f0c41e actually reflects issue #26.

[2013-10-08 14:32] westonruter commented on #26
Also, naturally, the widgets themselves should be able to receive tab focus.

[2013-10-08 14:49] TrevorMills commented on #22
@westonruter why are you using custom code to update the widget instead of routing through the same function that the main widgets page uses to update widgets?  I see the note about copying most of the code from wp_ajax_save_widget

[2013-10-08 15:00] westonruter commented on #22
@TrevorMills because we don't want to actually update the widget in the DB. We only want to [execute](https://github.com/x-team/wp-widget-customizer/blob/master/widget-customizer.php#L376) the widget's `update` callback so that the previewed `$instance` will get processed, and then to [call](https://github.com/x-team/wp-widget-customizer/blob/master/widget-customizer.php#L399) the widget's `form`

[2013-10-08 15:03] TrevorMills commented on #22
Ah, right, so the changes don't actually go to the DB until the "Save & Publish" button is hit, correct?

[2013-10-08 15:09] westonruter opened #28 "Sanitize widget instances"
Right now a widget's `update` callback gets fired (e.g. to ensure values are sanitized) when a widget form is updated and that update is previewed in the customizer. However, the updated widget instance is then not sent through the widget's update callback again when the customizer is saved. This means that there is currently a way for users to hack a widget's instance (bypass the `update` callbac

[2013-10-08 15:09] westonruter commented on #22
@TrevorMills exactly. This conversation reminded me of something else needing to be done related to saving settings. Added #28.

[2013-10-08 15:59] westonruter opened #29 "Feature link to Customizer on the Widgets admin page"
After the plugin has been enabled, users may not be aware that widgets can be edited in the customizer. So there should be a prominent link to open the customizer, placed somewhere on the page.

[2013-10-10 21:10] johnregan3 commented on #29
PR submitted https://github.com/x-team/wp-widget-customizer/pull/31

I'm open to suggestions, if you have any, @westonruter

[2013-10-10 21:22] westonruter commented on #29
@johnregan3 please open the PR to the `develop` branch instead.

[2013-10-10 21:24] westonruter commented on #29
@johnregan3 well, nevermind, I'll merge it manually. But merge it into `develop` in the future.

[2013-10-11 14:54] westonruter commented on #29
Thanks @johnregan3! Will be part of next release.

![widgets__wordpress_develop__wordpress-3](https://f.cloud.github.com/assets/134745/1315309/f26004ee-3284-11e3-8fc3-6428e8939c4f.png)

[2013-10-11 14:54] #29 closed, assigned to nobody

[2013-10-11 14:55] johnregan3 commented on #29
:+1:

[2013-10-11 15:03] westonruter opened #32 "Auto-expand first widget sidebar section when opening customizer from widgets admin page"
This is an extension of #29. When you click the link to **Customizer** from the admin notice, it should include a query string parameter like `?expand_sidebar_section=1` which would then be looked for in Widget Customizer JS, after the preview has loaded and has hidden any sidebars not located there (see #2), it should then auto-expand the accordion for the first sidebar appearing in the customize

[2013-10-12 02:52] westonruter opened #33 "Update styles for compat with MP6"
The labels are getting a white text color when they should be black:

![customize__wordpress_develop___just_another_wordpress_site](https://f.cloud.github.com/assets/134745/1319455/64084f0c-32e9-11e3-836e-1dff053034c8.png)

[2013-10-12 03:07] westonruter commented on #33
/cc @shaunandrews

[2013-10-16 04:35] westonruter commented on #22
@TrevorMills @shaunandrews: how widget “deletion” now looks in the customizer, which is actually now trashing since the widgets are just moved to the Inactive Widgets sidebar:

![screenshot-4](https://f.cloud.github.com/assets/134745/1340004/3315c056-361c-11e3-8ad7-20f47a7714dd.png)

[2013-10-16 04:39] #22 closed, assigned to nobody

[2013-10-16 04:39] #26 closed, assigned to nobody

[2013-10-17 03:36] westonruter opened #35 "Ensure that media manager gets enqueued properly in customizer"
When you invoke `wp_enqueue_media()` [it will](https://github.com/WordPress/WordPress/blob/ed07bab4b439dbf7f1fefc4d4cb3748314a982c7/wp-includes/media.php#L1942-L1943):

[code]

But it won'tadd the action for `customize_controls_print_footer_scripts` as well. So we need to do it manually with something like:

[code]

[2013-10-17 04:53] westonruter commented on #35
Filed core ticket 25618 and supplied patch to fix the problem to avoid having to do a workaround: https://core.trac.wordpress.org/ticket/25618

[2013-10-17 18:36] westonruter opened #36 "Hide all sidebar sections until preview loads"
When first loading the customizer, all sidebar sections are visible and then the ones not applicable to the current URL loaded into the preview are hidden once the preview loads. This is not the best experience. It would be better if all sidebar sections were initially hidden and then when the preview loads, they can animate to reveal.

Related to #9.

[2013-10-18 21:11] #33 closed, assigned to nobody

[2013-10-19 21:56] westonruter commented on #8
We're going to have to rely on this if the preview is in another domain. In `customize-controls.js` we see `api.settings.isCrossDomain` and in `wp-admin/customize.php` we [see](https://github.com/WordPress/WordPress/blob/6593ae56b83229e6a3345dd2901dc83a5c62dfa9/wp-admin/customize.php#L160-L170):

[code]

So we need to not directly reference the `parent` window and the `iframe.contentWindow` and in

[2013-10-19 21:57] westonruter commented on #8
Relates to #2 and #5.

[2013-10-19 22:16] westonruter opened #38 "Settings in customizer panel and preview window should be kept in sync"
It turns out that the customizer preview has a copy of the settings just like the customizer panel (parent frame), but if you change the setting in the preview window, it does not sync those changes to the settings in the parent frame. So when changing settings within preview they should propagate up to the parent customizer iframe settings. This will enable inline widget controls inside of the pr

[2013-10-19 22:23] westonruter commented on #38
Are settings not being synced out of concerns for security? Is this also why the `previewer` instance is encapsulated in a closure and not exported?

https://github.com/WordPress/WordPress/blob/8bfa1e8d24f42e81d3380086c1633b36799a7500/wp-includes/js/customize-preview.js#L54-L61

[2013-10-21 20:12] westonruter opened #39 "Improve compatibility with plugins (e.g. Jetpack Widget Visibility module)"
Reported by @shaunandrews:

Either the Jetpack plugin is not extending widgets properly, or the Widget Customizer is not adequately setting up the environment for rendering widget controls in the customizer.

[2013-10-21 20:20] westonruter opened #40 "Change widget control form button from Save to Update"
Change button from Primary to Secondary.

[2013-10-21 20:58] westonruter opened #41 "Move setupDeleteControl from sidebar_widgets into widget_form"
Most of the code in https://github.com/x-team/wp-widget-customizer/blob/1e3883f27811703bb252ab32c7f148cbbed6494e/widget-customizer.js#L112-L131 should be handled in the widget_form, e.g. overriding the link text and adding the tooltip. The deletion event should be handled by `sidebar_widgets` with delegation.

This will facilitate #3

[2013-10-22 05:53] #41 closed, assigned to nobody

[2013-10-22 16:21] westonruter commented on #18
via @helenhousandi‎: http://plugins.svn.wordpress.org/css/trunk/motif.js

[2013-10-22 16:33] westonruter commented on #18
Actually, the consensus may be to eliminate support for wide widget controls altogether.

[2013-10-22 16:35] shaunandrews commented on #18
No, we shouldn't.

[2013-10-22 16:46] westonruter commented on #18
@shaunandrews :smile: OK! :+1:

[2013-10-25 16:30] gedex commented on #25
@westonruter I'm going to work on this unless someone has started?

[2013-10-25 16:31] westonruter commented on #25
@gedex :heart: no one has, good for you!! You might want to wait until #3 is merged, as it will contain a lot of code changes to enable new widgets to be added while in the preview.

[2013-10-25 16:38] gedex commented on #25
@westonruter Ok I'll wait until #3 is merged.

[2013-10-25 16:39] westonruter commented on #25
@gedex or you can branch your unit tests off of `issue-3-addition`

[2013-10-25 23:48] westonruter opened #43 "Support WP_Widget::$alt_option_name?"
There is a `alt_option_name` fallback apparently for accommodating widgets that used option names that were not consistent with their IDs: https://github.com/WordPress/WordPress/blob/master/wp-includes/widgets.php#L293-L294

When loading widgets, do we need to account for this?

[2013-10-26 03:00] bobbravo2 commented on #40
Agreed - it should be class=secondary - and update - the current implementation is unclear about whether or not what I'm doing is "going live". Changing the button to update is much clearer.

[2013-10-26 03:04] bobbravo2 opened #44 "New custom menu doesn't appear until pressing save/update"
Title sums it up - using the #3 "add new custom menu", doesn't add it to the view until you press save (or update, soon).

[2013-10-26 03:06] bobbravo2 opened #45 "Allow updating of widget preview before hitting Update"
Allow updating of a widget without having to press Update. Will require opt-in by the widget, as only the widget itself knows when it is able to be sufficiently previewed (e.g. the RSS widget will error if the fields aren't all supplied). Maybe some JS to detect when the widget control form is populated enough to be submitted. Filter for opting-in to `postMessage` should be segmented into opt-in f

[2013-10-26 03:08] bobbravo2 commented on #4
Yeah. I think after a night left on the customizer their WordPress session would have expired as well. Perhaps this issue was already dealt with in the customizer - and it'd catch an invalid nonce after trying to refresh the preview - and then trigger a full page refresh to get new nonces?

[2013-10-26 04:06] c3mdigital commented on #4
The Heartbeat API might be something to look into as it allows you to login without a page refresh.

[2013-10-26 07:29] westonruter opened #46 "Add Inactive Widgets to the dropdown of available widgets to add"
![pasted_image_10_26_13__12_29_am-4](https://f.cloud.github.com/assets/134745/1413046/5b0e16de-3e10-11e3-9e8c-a0643582fc33.png)

[2013-10-26 07:43] westonruter commented on #44
This should be resolved by #37. The problem is not all widgets can be submitted right when they are added. For example, the RSS widget will show you an error if it gets saved without a URL provided. For the custom menu widget, I believe it is coded to not render anything if no menu is supplied, and since the widget form is not submitted right when it is added, then the widget instance remains empt

[2013-10-26 08:20] westonruter commented on #45
This also will be addressed by #37, and it is the same problem as #44.

[2013-10-26 21:38] westonruter opened #47 "Allow enter/return to trigger widget updates"
When typing in a widget, if enter/return is hit, then the widget should get submitted.

[2013-10-26 22:01] westonruter commented on #25
Great work @gedex! Thank you for spearheading unit testing.

[2013-10-26 22:01] #25 closed, assigned to nobody

[2013-10-26 22:28] westonruter commented on #40
Done:

![screen_shot_2013-10-26_at_3 27 18_pm-3](https://f.cloud.github.com/assets/134745/1414528/fc49eac8-3e8d-11e3-8492-f9881e98553c.png)

[2013-10-26 22:28] #40 closed, assigned to nobody

[2013-10-26 22:32] westonruter commented on #4
Just [discovered](https://twitter.com/westonruter/status/394214714214858752) something very useful for this: [`wp_verify_nonce()`](https://github.com/WordPress/WordPress/blob/fde786ab5d687a79ceeeeacf677100b9f88280d9/wp-includes/pluggable.php#L1291-L1307) returns `1` if the supplied nonce was generated 0-12 hours ago, and it returns `2` if it was generated 12-24 hours ago.

[2013-10-27 06:05] westonruter commented on #39
Also the styling of the widget restriction controls is lacking, if that module is enabled.

[2013-10-27 07:46] westonruter opened #48 "Gracefully handle widget renames and disappearances"
Right now we're getting assertion warnings at https://github.com/x-team/wp-widget-customizer/blob/1b3f87e98631fda33f3dfb8966044a1aae64bdfd/widget-customizer.php#L261

[2013-10-27 08:00] westonruter commented on #48
For example:

[code]

[2013-10-27 23:15] westonruter commented on #48
What does core do right now when it comes across a widget ID in `sidebars_widgets` which does not exist in `registered_widgets`?

If they save the `sidebars_widgets` will the widget ID be removed entirely, or will it just be moved to `inactive_widgets` and disabled until the widget reappears (if ever)?

[2013-10-27 23:18] westonruter opened #49 "Entirely delete a widget which was added but not previously saved?"
Right now, if you remove a widget it will get moved to the Inactive Widgets “sidebar”. This also goes for widgets that you add but don't ever publish, like if you add a widget to a sidebar and then immediately remove it. This will probably result in the Inactive Widgets sidebar getting filled up with a lot of fragmented widgets which the user would not expect to be saved in the trash, since they w

[2013-10-28 07:31] westonruter commented on #18
@shaunandrews here's another instance of wide widgets: the Jetpack Widget Visibility module.

See the relevant code in [`widget-conditions.js`](http://plugins.trac.wordpress.org/browser/jetpack/trunk/modules/widget-visibility/widget-conditions/widget-conditions.js?rev=755289#L15) which tries to force a widget form control to be wide:

[code]

I've added a commit (5d6dd72901322b011284d50c9b9dd68a85

[2013-10-28 08:01] westonruter commented on #39
@shaunandrews [speaking](https://twitter.com/shaunandrews/status/392298514320867329) of `.widget-liquid-right`, I had to hack (77ae355) the Customizer DOM to add the `widgets-right` ID to a container `div` for compatibility with plugins that anchor selectors on `div#widgets-right` :frowning:

[2013-10-28 08:05] westonruter commented on #39
Jetpack's Widget Visibility module now works properly. It looks like this when rendered in the customizer:

[2013-10-28 08:05] #39 closed, assigned to nobody

[2013-10-28 08:06] westonruter commented on #18
As noted in #39, here's how the Widget Visibility controls now look when rendered in the customizer:

[2013-10-28 08:16] westonruter commented on #39
There's also a bug with the Jetpack Widget Visibility module in that it assumes widgets are always multi-widgets, and that they are not old single widgets. Submitted patch to the Jetpack ticket which was opened 3 weeks ago: http://plugins.trac.wordpress.org/ticket/1979

[2013-10-28 22:25] westonruter opened #51 "Move widget templates inside of div#widgets-right or div#widgets-left?"
For maximum compatibility with plugins, we need to ensure the templates are rendered inside of `div#widgets-right` as well. Or is that `div#widgets-left`?

[2013-11-01 23:29] westonruter opened #53 "Add Ajax unit tests"
See #25

The standard `.travis.yml` should be updated to support Ajax unit tests automatically if they are available.

[2013-11-02 02:53] westonruter commented on #8
Also [reported](https://twitter.com/c2foryou/status/396466360974180354) by @c2itllc on Twitter:

Yes, if `FORCE_SSL_ADMIN` is turned on, then the non-HTTP customizer preview frame would probably fail to be able to cross-frame communicate with the customizer, which would be the HTTPS parent frame. Using `postMessage` should resolve this.

[2013-11-05 08:30] #47 closed, assigned to nobody

[2013-11-06 01:13] westonruter commented on #15
Note that the WordPress 3.7 release removed the temporary hooks (see [/src/wp-includes/widgets.php@r25878](http://core.trac.wordpress.org/changeset/25878/branches/3.7/src/wp-includes/widgets.php)), but they remain in trunk.

[2013-11-06 18:17] westonruter opened #55 "Improve widget addition dropdown with autocomplete and searching"
See [comment](https://github.com/x-team/wp-widget-customizer/pull/3#issuecomment-27137585) in #3, from @bobbravo2:

[2013-11-06 18:18] westonruter commented on #55
@bobbravo2 yes, I'd love to add Chosen or [Select2](http://ivaynberg.github.io/select2/) to improve the usability of the dropdown. From the Chosen demo, I assume the Standard Select or the Standard Select with optgroup would be the field we'd be interested in? I guess too we'll want to let the autocomplete match not only the title of the widget, but its description as well?

[2013-11-07 20:01] westonruter commented on #18
@shaunandrews here's an extreme example of wide widget form controls: http://wordpress.org/plugins/black-studio-tinymce-widget/screenshots/

[2013-11-07 20:24] westonruter commented on #18
Another extreme example: http://wordpress.org/plugins/mini-loops/screenshots/

[2013-11-11 17:46] westonruter commented on #8
I tried forcing the preview frame to be in another domain, but even when it was, I did not have a problem with cross-frame communication. I think because the Ajax response gets written into the iframe, and the remote URL isn't actually loaded into the iframe directly.

[2013-11-11 21:26] bobbravo2 commented on #55
@westonruter My thinking EXACTLY! RE: Chosen: I think the standard select should work fine - it's an amazing plugin. Not sure we'd need an optgroup - unless we want to also add "hidden widgets" - then it'd make sense. RE: Autocomplete - yes, I totally agree - we want to make it super easy for people to find widgets - searching title + description is a great first step.

[2013-11-18 20:31] westonruter opened #56 "Improve scrolling widget into view"
The [current `scrollIntoView`](https://github.com/x-team/wp-widget-customizer/blob/97cbfc58eac8d2b6946f0fe5727cac23958721b0/widget-customizer.js#L558-L568) is woefully inadequate.

Builds on and #5 and #13

[2013-11-25 20:16] westonruter opened #57 "Fix padding for widget forms controls"
![image](https://f.cloud.github.com/assets/134745/1616601/67f2d66c-560e-11e3-96cf-8fd81e3e3429.png)

[2013-11-25 23:35] westonruter commented on #18
http://core.trac.wordpress.org/ticket/26117

[2013-12-02 07:51] westonruter opened #59 "Eliminate use of Options Transactions"
The facility for Options Transactions was introduced to add support for old single widgets, whose rendering functions also do updates. For new multi WP_Widgets, the render method does not do any saving to the DB, nor does the update method which just validates the input. If we can eliminate support for old single widgets, then we can simplify the logic for previewing widget changes.

[2013-12-02 07:51] westonruter opened #60 "Separate logic for the preview into a separate class from the main plugin class"
Related to #73 (Factor out common customizer/preview functionality to widget-customizer-base.js)

[2013-12-02 07:52] westonruter opened #61 "Send new widget instance to preview as soon as it is added?"
Right now a new widget instance is not sent to the preview until it gets saved for the first time. This works well for widgets that depend on values being supplied, but for others it adds a needless extra Update step.

[2013-12-02 09:16] #61 closed, assigned to nobody

[2013-12-02 20:27] westonruter commented on #56
/cc @shaunandrews

[2013-12-02 20:51] bobbravo2 commented on #56
My personal favorite is

[code]

[2013-12-02 21:00] westonruter commented on #56
@bobbravo2 I think that is what we had initially, but I was concerned that it wouldn't work if the widget was inside of another scrolling container. The animation to scroll into view should not get invoked if the widget can already be seen. So we need logic to detect if the widget is currently in view to begin with.

[2013-12-03 18:24] kucrut commented on #57
@westonruter I'm not seeing this padding in the master branch (and the custom select for that matter).

[2013-12-03 18:40] westonruter commented on #57
@kucrut you have to be on WordPress 3.8 (or trunk) to see it.

[2013-12-03 18:40] westonruter commented on #57
The select is not custom either, it's just the native style for controls in OS X :smile:

[2013-12-04 15:53] kucrut commented on #57
@westonruter By _custom select_ I meant the _Archive_ dropdown in the screenshot above, which is actually not a `select` element :wink:

So, which padding are we supposed to fix here?

[2013-12-04 16:53] kucrut opened #62 "Add widget JS bugs (Firefox)"
- [ ] First widget can't be added
- [ ] Clicking on the right side of widgets dropdown after hovering over dropdown options will add the last hovered option (not happening in Firefox Nightly)

[2013-12-04 17:29] westonruter commented on #62
This will probably be invalidated by #58 which gets rid of the `select` altogether.

/cc @shaunandrews

[2013-12-04 17:31] westonruter commented on #57
@kucrut right :smile: So the collapsable widget control.

The fix is to add the necessary `padding` so that the widget form control appears in the customizer the same way that it appears on the widgets admin page.

[2013-12-08 05:12] alexvornoffice commented on #57
the same problem, just download the latest nightly build

[2013-12-08 05:16] alexvornoffice commented on #57
![n](https://f.cloud.github.com/assets/1689187/1699821/ec250b18-5fc7-11e3-9e0f-3b4520b1f595.png)

[2013-12-09 07:12] westonruter commented on #62
@kucrut can you confirm that #58 invalidates this issue?

[2013-12-09 07:13] westonruter commented on #43
Actually, it seems this is for backwards-compatibility with old widgets that did not have consistent option names.

[2013-12-09 07:13] #43 closed, assigned to nobody

[2013-12-09 07:14] #44 closed, assigned to nobody

[2013-12-09 07:15] westonruter commented on #45
Original issue submitted:

[2013-12-09 07:22] westonruter opened #63 "Add live preview (postMessage Ajax) support for Jetpack widgets"
Addendum for #37

[2013-12-09 07:35] westonruter commented on #35
Now in core. :+1:

[2013-12-09 07:35] #35 closed, assigned to nobody

[2013-12-09 07:49] westonruter commented on #8
I wonder if `postMessage` really isn't needed at all by the Customizer, since the preview seems to be able to communicate cross-window to the parent window just fine. Was it initially added because it was thought that the preview `iframe` could be loading from another domain? Even when this is the case, it seems not to impact cross-frame communication because the Ajax response is written into the

[2013-12-09 14:04] PeterKnight commented on #18
Right now it's pretty difficult to expand the width and have it expand outside the side panel, at least not without a bunch of js trickery. I've tried floating a widget outside the side panel altogether but that comes with a usability cost.

Any thoughts on displaying the widget controls floated next to the actual widget in the page?

[2013-12-09 14:18] shaunandrews commented on #18
I've been thinking about this, and I'd like to avoid covering the preview if it all possible.

##

Shaun

[2013-12-09 17:21] kucrut commented on #62
@westonruter Yes.

[2013-12-09 17:21] #62 closed, assigned to nobody

[2013-12-09 17:32] westonruter commented on #18
What about if we open the wide-widget control in another monitor!? If they lack another monitor, the control can pop-up on their smartphone or tablet :wink:

All joking aside, this is a tough issue.

@shaunandrews @PeterKnight Here's an idea that just came to me: just as the new widget addition panel shifts in from the left, what if wide widget controls were placed inside of a panel that shifts in

[2013-12-09 19:45] PeterKnight commented on #18
It's definitely a tough one.

I think there would be problems with having another panel slide in from the top or bottom, the widget itself might get obscured or the viewing area would be too small. Then there's the issue that some widgets controls take up a lot of height, and some take up more width.

One advantage of having a floating widget panel that hugs the edge of the widget: the JS can figu

[2013-12-12 09:54] #57 closed, assigned to westonruter

[2013-12-13 04:12] webmaharaj opened #64 "Assertion Error on line 298"
Hello,

The Plugin is showing following warning when we load customzer and displaying everything fine.

Warning: assert() [function.assert]: Assertion failed in wp-content/plugins/wp-widget-customizer-new-widget-addition/widget-customizer.php on line 298

It's showing same for master file too.

thanks

[2013-12-13 05:21] westonruter commented on #64
@webmaharaj thanks a lot for this report. It seems to be a duplicate of the previously-captured issue #48. Can you confirm that you had changed active plugins or themes and so the widgets available changed?

[2013-12-13 07:03] westonruter commented on #48
`dynamic_sidebar()` does this:

[code]

[2013-12-13 07:51] #48 closed, assigned to nobody

[2013-12-13 07:51] #64 closed, assigned to nobody

[2013-12-13 07:54] westonruter commented on #64
@webmaharaj I just released v0.9.6 which includes the fix.

[2013-12-13 12:03] webmaharaj commented on #64
Hello,

It's all super cool now. How about integrating new widget selection style in to the master? That's really wonderful than the traditional drop down add widget option :)

thanks.

[2013-12-13 14:55] shaunandrews commented on #18
A floating panel is likely the best solution. My biggest concern with this is that it add a whole different level of UI for managing content in the customizer. I'm not against it (in fact, some of my sketches show this exact solution), but I worry about how it would be perceived with the core developers — also it seems like a lot of work.

[2013-12-13 14:57] shaunandrews commented on #18
For reference, check out #17

[2013-12-13 16:05] PeterKnight commented on #18
I think the screen you have at #17 looks great. Wouldn't positive user tests make it hard for core devs to deny the approach? IMO it's the most elegant solution, I do get the work portion of it though because of the extra moving parts. I don't think there's a downside though, even if it doesn't land in core, it will become the best way to modify widgets.

Scribu's front end editor has a widget edi

[2013-12-13 16:33] westonruter commented on #64
We're working on it :-)

[2013-12-16 17:41] westonruter opened #65 "Mark controls for widgets not rendered on URL currently previewed"
Currently the sidebar sections in the customizer will show/hide based on which sidebars are used on a given page (see #2). You can click around inside of the customizer to navigate to a page, and if that page template uses different sidebars, you'll see the sections in the customizer change while navigating.

It doesn't, however, hide widgets from the sidebar sections if they aren't currently rend

[2013-12-16 22:15] westonruter opened #66 "Add support for hooks with temp_ prefix stripped off."
See http://core.trac.wordpress.org/ticket/25368#comment:6

See #15

[2013-12-17 08:52] westonruter commented on #55
This is being addressed in #58

[2013-12-17 08:52] #55 closed, assigned to nobody

[2013-12-19 01:41] westonruter opened #67 "Make it easier for widgets to opt-in to live previews"
Right now the method is:

[code]

But it would be nice if there was a way to supply this in the arguments supplied to the widget constructor:

[code]

See also [comment](https://irclogs.wordpress.org/chanlog.php?channel=wordpress-dev&day=2013-12-19&sort=asc#m758307) on wordpress-dev by Nacin.

[2013-12-22 08:34] westonruter commented on #64
@webmaharaj just released v0.11 which includes the new panel for browsing and selecting an available widget to add: http://wordpress.org/plugins/widget-customizer/

[2013-12-23 06:50] westonruter opened #69 "Use dashicons instead of images for widget icons"
See conversation at https://twitter.com/joemcasta/status/414937640970878976

The question here will be how plugins will indicate their icon. Currently we're filtering `widget_icon_url` so that plugins can indicate the path to a PNG image. But if we're using icon fonts, would this all be handled in CSS instead? Would a plugin just need to enqueue a stylesheet to appear on the widgets admin page and

[2013-12-28 22:44] #32 closed, assigned to nobody

[2013-12-28 22:45] #9 closed, assigned to nobody

[2013-12-28 22:45] #36 closed, assigned to nobody

[2013-12-29 04:31] bordoni commented on #69
@westonruter I think we could handle all the default dashicons that are available (not so hard). It's a matter of how to identify the difference between an URL and a possible group of classes that would represent the icons.

[2013-12-30 21:48] westonruter commented on #46
- [x] The “Remove” link should be a delete link if the widget has not been previously saved.

[2013-12-30 22:20] #67 closed, assigned to nobody

[2013-12-30 22:22] westonruter commented on #59
We need to support old single widgets. Nacin indicated that ~20% plugins on WordPress.org register old single widgets.

[2013-12-30 22:23] westonruter commented on #32
Using `customize.php?widget-customizer=open`

[2014-01-01 08:55] #49 closed, assigned to nobody

[2014-01-02 22:36] westonruter commented on #69
@bordoni yeah, so instead of filtering `widget_icon_url` and rendering an image into the output of `wp_widget_control()`, it seems better if we just modified `wp_widget_control()` to add the widget's `id_base` as a class name (e.g. `widget-{id_base}` as in `widget-calendar`), and then the stylesheets can add the dashicon into the control where appropriate. This would allow plugins to alternatively

[2014-01-02 22:44] MichaelArestad commented on #69
@westonruter Looks good to me. It allows authors to use whatever image file type they are comfortable with.

We could get clever with CSS for default dashicons:

[code]

[2014-01-02 22:52] westonruter commented on #69
Great, so then we just need to have a standard location to target. How about a new element, `widget-icon`?

[code]

The default CSS could then

[code]

A plugin can then override this with custom icon:

[code]

Or they could use an image instead of an icon:

[code]

[2014-01-02 23:08] MichaelArestad commented on #69
`widget-icon` makes sense.

Although, if it's an element, I would remove `:before` and go with:

[code]

And again, maybe even supplement it with some logical guesses at widget names like:

[code]

[2014-01-02 23:19] westonruter commented on #69
I seem to remember `content` only working with pseudo elements (`:before`/`:after`), per the [CSS2 spec](http://www.w3.org/TR/CSS2/generate.html#content):

It doesn't seem to work on non-pseudo elements: http://jsfiddle.net/westonruter/R6GLH/

[2014-01-02 23:20] MichaelArestad commented on #69
Yep. You're right. Totally forgot about that.

[2014-01-03 07:10] westonruter commented on #69
Who can take the existing PNG icons and turn them into a font which we can bundle with Widget Customizer and use for custom dashicons?

[2014-01-03 07:35] #51 closed, assigned to nobody

[2014-01-03 12:00] bordoni commented on #69
@westonruter can we grab GPL icons from other places? Or just Dashicons?

[2014-01-03 16:47] MichaelArestad commented on #69
@bordoni We technically could grab GPL icons from other places. I expect we ultimately would add to Dashicons so I would prefer we just create our own that fit nicely within the current Dashicons set.

It looks like @shaunandrews has already made a few. The ones we could add and/or make:
- Archives
- Custom Menu
- Meta
- Tag Cloud
- Text
- Default Widget

[2014-01-05 06:51] westonruter commented on #69
Are the ones from @shaunandrews in vector format and suitable to embed in a font?

[2014-01-05 15:21] MichaelArestad commented on #69
Yep. I'm embedding them in a font today.

[2014-01-10 06:12] westonruter commented on #28
I took a different approach to what I was initially thinking above. Instead of sending all widget instances through the widget update callback whenever their values are submitted, we're instead sending back the instance hashed with the `AUTH_KEY` when the setting is sanitized for JS in the customizer. When a widget is updated, the new instance data is always accompanied with the hash key so that i

[2014-01-10 06:12] #28 closed, assigned to nobody

[2014-01-10 06:13] westonruter commented on #69
Great work @MichaelArestad! Your contribution will be part of the next release (0.13), likely coming out tonight.

[2014-01-10 06:13] #69 closed, assigned to nobody

[2014-01-10 09:44] westonruter commented on #17
Closing this for now. We can revisit later.

[2014-01-10 09:44] #17 closed, assigned to nobody

[2014-01-10 09:46] westonruter opened #71 "Force all inactive widgets to have postMessage transport"
If an instance is updated for a widget which is not in an active sidebar, then the setting should get updated with the `postMessage` transport since there is no widget which needs to be rendered.

[2014-01-13 20:06] westonruter commented on #65
@michaelarestad will mock up adding "This widget is not on the current page." to the inactive widgets.

[2014-01-23 00:03] westonruter commented on #18
Closely related to [#26701 Text and RSS Widgets Unusable on Mobile](https://core.trac.wordpress.org/ticket/26701), a fix in WordPress 3.8.1

[2014-01-26 07:23] westonruter commented on #65
@MichaelArestad I'm going to close this issue. Any further improvements to the UI can be presented by you via a separate pull request.

[2014-01-27 05:17] westonruter opened #73 "Factor out common customizer/preview functionality to widget-customizer-base.js"
There is some common code between `widget-customizer.js` and `widget-customizer-preview.js`. The common code should be factored out into a `widget-customizer-base.js`

[2014-01-27 20:46] westonruter opened #74 "Eliminate use of filter_input() functions"
From @nacin in our [widgets chat](https://irclogs.wordpress.org/chanlog.php?channel=wordpress-ui&day=2014-01-27&sort=asc#m153338) today:

So we should access `$_POST` directly instead. Remember that this will mean we must `wp_unslash()`.

[2014-01-28 23:34] westonruter opened #76 "Fade out sidebar sections that lack any rendered widgets"
Suggestion from @tomdryan:

So basically this would do for the sidebar section title what was done for the widget titles which aren't rendered on the current page. See #65.

[2014-01-28 23:37] westonruter opened #77 "Group all sidebars under one customizer section"
Suggestion from @tomdryan:

[2014-01-29 00:06] westonruter commented on #77
From @melchoyce:

![Screencast](https://i.cloudup.com/vQKSAVfXlL.gif)

[2014-01-29 00:23] tomdryan commented on #77
That's it. A picture is worth a thousand (of my) words. Thanks!

[2014-01-29 00:26] tomdryan commented on #76
Exactly. Thanks Weston!

[2014-01-29 00:29] westonruter commented on #77
I think this kind of 3rd level of organization would be great for the Customizer in general. There should be a way to group customizer sections logically.

[2014-01-29 00:31] westonruter commented on #18
Here's a few more mocks from @MichaelArestad: https://cloudup.com/iqH4tGUbQPn

[2014-01-29 00:38] shaunandrews commented on #77
Heh.

http://www.shaunandrews.com/themes/new-customizer/

Played with this concept a few months ago. Still think it's a good direction.

##

Shaun

[2014-01-29 00:40] melchoyce commented on #77
Aha! That's what I was trying to remember. I knew you'd done something with this concept at some point. Thanks. :)

[2014-01-29 00:40] tomdryan commented on #77
There are a few side benefits of doing it this way:
1. The customizer menu will load more quickly (there is a noticeable delay for me for the sidebar menu items to load)
2. You no longer have to label the sidebar "Widgets: Sidebar Label"  much cleaner

[2014-01-29 01:05] tomdryan commented on #77
Doing it this way also eliminates the need for a separate fly out menu for adding widgets. Nice!

[2014-01-29 21:37] westonruter commented on #45
Further discussed here: http://make.wordpress.org/core/2014/01/28/widget-customizer-feature-as-plugin-merge-proposal/#comment-12748

[2014-01-29 22:21] westonruter opened #78 "Show an "Edit" button when hovering over a widget in the preview"
Right now you have can shift+click a widget to open the widget area section and widget control in the customizer panel. This is hard to discover, even though there is a tooltip added. @azaozz [suggested](https://irclogs.wordpress.org/chanlog.php?channel=wordpress-dev&day=2014-01-29&sort=asc#m780326) that there could be an "Edit" button that appears when hovering over a widget in the preview.

[2014-01-29 22:37] westonruter commented on #77
This topic was discussed today on the weekly #wordpress-dev chat: https://irclogs.wordpress.org/chanlog.php?channel=wordpress-dev&day=2014-01-29&sort=asc#m780233

[2014-01-30 10:19] westonruter commented on #65
The logic for detecting whether a widget is rendered or not is not quite right it seems. The unpopulated RSS widget doesn't render anything, so it would seem like it should by default be semi-transparent. But when you first load the Customizer, it is fully opaque. If you try updating the widget or move it to another sidebar, it then becomes semi-transparent as expected.

[2014-01-31 07:23] #74 closed, assigned to nobody

[2014-01-31 07:24] westonruter commented on #23
@shaunandrews now that 0.14 is out, I think it's a good time to get more user testing.

[2014-02-01 15:35] shaunandrews commented on #23
Yup. Ran another test last night. We'll get the results posted soon, and run a few more.

[2014-02-04 19:45] westonruter commented on #18
Today on #wordpress-dev, I mentioned to @nacin in response to his request for a status update:

He replied:

I said:

So I think the quickest solution will be to apply a `position:fixed` on the contents of the widget control. This will allow the widget to appear over the panel and it can be dragged around with some.

See [full transcript](https://irclogs.wordpress.org/chanlog.php?channel=wordpress

[2014-02-04 20:06] westonruter commented on #45
And discussed in IRC: https://irclogs.wordpress.org/chanlog.php?channel=wordpress-dev&day=2014-02-04&sort=asc#m783625

[2014-02-04 20:16] westonruter opened #81 "Improve re-ordering in cramped space"
From Nacin [in IRC](https://irclogs.wordpress.org/chanlog.php?channel=wordpress-dev&day=2014-02-04&sort=asc#m783607):

And:

[2014-02-04 20:19] westonruter opened #82 "Dragging a widget to another sidebar causes Add a Widget to erroneously move"
From Nacin [in IRC](https://irclogs.wordpress.org/chanlog.php?channel=wordpress-dev&day=2014-02-04&sort=asc#m783699):

[2014-02-04 20:23] westonruter commented on #45
We're going to try to make widget update with each `keypress`/`change`/`input`, and so eliminate the Update/Apply button altogether. However, I think it should only be done for widgets that explicitly indicate live-preview support. We'll also have to take care when processing updates because they include new forms with validated inputs, and just replacing the form with every input would cause focu

[2014-02-04 20:25] westonruter commented on #45
From Nacin:

[2014-02-04 20:32] westonruter opened #83 "Improve styling of widget search field"
Feedback from Nacin for things to address:

[2014-02-04 20:32] westonruter opened #84 "Make "Add a Widget" fit with rest of WP UI"
Feedback from Nacin:

[2014-02-05 12:38] PeterKnight commented on #18
Why not use jquery UI position to float the controls next to the widget in the preview and use it for both narrow and wide widgets so it is a consistent experience?

I don't see how the alternatives would work much better. Seems like Nacin was for making the panel wider, but that brings up the issue of triggering responsive layouts. Using position fixed the controls might clip or hover over the pr

[2014-02-05 18:33] westonruter opened #85 "Improve behavior of widget highlighting"
From Nacin [in IRC](https://irclogs.wordpress.org/chanlog.php?channel=wordpress-dev&day=2014-02-04&sort=asc#m783607):

[2014-02-05 20:43] #84 closed, assigned to nobody

[2014-02-05 20:54] PeterKnight opened #87 "Adblock Plus & widget controls set to display:none in customizer"
I just noticed that when I have adblock plus activated in chrome the widgets don't show up in the customizer panel. Weird! Thought I'd report this in case other people ran into this issue too.

[2014-02-07 23:26] PeterKnight commented on #87
So I thought it might be adblock plus that was causing the sidebar widget controls not to show up because when I disabled it they reappeared. But I then realized it was still happening, but not every time.

[2014-02-07 23:26] #87 closed, assigned to nobody

[2014-02-08 07:16] westonruter opened #90 "Add support for RTL"

[2014-02-08 15:55] westonruter commented on #63
This is for the Jetpack team.

[2014-02-08 15:55] #63 closed, assigned to nobody

[2014-02-08 22:00] westonruter commented on #82
This would probably be resolved in #77 since the `li` containing the Add a Widget button would not be a sibling of the widget form control elements.

[2014-02-09 07:16] #18 closed, assigned to westonruter

[2014-02-09 17:29] westonruter commented on #81
Likely also facilitated by #77.

[2014-02-09 17:34] westonruter commented on #77
I think I figured out the way to do go about this, from a customizer technical perspective. Currently there is a separate customizer control for each sidebar and for each widget in each sidebar. So there is a mapping of one setting per control. However, if we were to merge the two controls into one widget area control, and associated multiple settings with that one control, then we'd be able to ju

[2014-02-10 20:09] ccardinaux opened #91 "JS error - setting.transport is undefined"
I tried out the plugin once and it worked well - on the same site, when I came back to it on a different day I got a JavaScript error in widget-customizer-preview.js (see image).

Browser is Chrome 32 on Windows 7. Running WordPress 3.8.1 multisite on a local install, and the plugin is working fine on another site on the same install.
![widget-customizer-js-error](https://f.cloud.github.com/assets

[2014-02-10 20:13] westonruter commented on #91
Thanks for reporting this! It actually is an issue I encountered and fixed 3 days ago in commit 42adb151de2d812a099d2358cc4223931a2fa8cc. The problem happens when there is a widget is left in a sidebar when the registered widget went away, for example due to a plugin deactivation. if possible, can you checkout the `develop` branch and see if that indeed solves the problem?

[2014-02-10 20:13] #91 closed, assigned to nobody

[2014-02-10 20:26] ccardinaux commented on #91
That fixed it - thanks!

[2014-02-10 20:27] westonruter opened #92 "Make wide widget controls expand vertically instead of horizontally"
With some CSS/JS-ymnastics we can make the widget inside `position:fixed` so that it appears that it is resting under the widget-top in the panel, but so that it also can overlap the right edge of the customizer over the preview, even over any scrollbars.

See discussion in [#wordpress-ui](https://irclogs.wordpress.org/chanlog.php?channel=wordpress-ui&day=2014-02-10&sort=asc#m157226).

Addendum fo

[2014-02-10 20:29] westonruter commented on #45
I'm making good progress on this. Hope to have a PR for review by tonight.

[2014-02-10 20:31] westonruter commented on #83
Discussed today on [#wordpress-ui](https://irclogs.wordpress.org/chanlog.php?channel=wordpress-ui&day=2014-02-10&sort=asc#m157256)

[2014-02-10 20:32] westonruter commented on #83
New styling from @shaunandrews:

[2014-02-10 20:34] westonruter commented on #91
@ccardinaux thanks for the great bug report!

[2014-02-10 20:53] shaunandrews commented on #83
I can't figure out this git stuff, so here's a diff:

https://cloudup.com/c1INl2imMdI

[2014-02-11 03:37] westonruter commented on #83
@shaunandrews cheers! Looks awesome.

[2014-02-11 03:37] #83 closed, assigned to nobody

[2014-02-12 07:25] westonruter opened #94 "Add live preview support to dropdown Categories widget"
Right now it is erroneously being identified as being supported for live preview, but the inline JS is not going to be re-executed when the widget is updated. Specifically:

[code]

[2014-02-12 07:29] westonruter opened #95 "Add live preview support for Recent Comments widget"
Right now the `recent_comments_style` function output for the `wp_action` is not getting injected into the `head`

[2014-02-12 09:31] #45 closed, assigned to westonruter

[2014-02-12 09:34] westonruter commented on #85
See initial work done on #16

[2014-02-12 20:45] westonruter commented on #59
If we know that a widget is always only going to be updating an option named "widget_{id_base}" then we can actually add the specifically-named option actions to intercept updates via the pre_update_option_widget_{id_base} filter

[2014-02-12 20:45] westonruter commented on #59
Single widgets may not follow the "widget_{id_base}" convention at all, so it seems we still need Options Transactions for single widgets.

[2014-02-12 20:46] westonruter commented on #59
We can eliminate Options Transactions if `update_option` provided a hook like:

[code]

As then we'd be able to intercept all updates when a widget's update callback is running.

[2014-02-12 20:52] westonruter opened #97 "Fix live preview bug with checkbox change"
Clicking a checkboxes in the Text and RSS widgets is failing to update properly. An exception is being thrown in the preview for some reason.

[2014-02-12 22:01] westonruter commented on #59
It was decided that `pre_update_option` would be added to core.

[2014-02-13 06:38] #97 closed, assigned to nobody

[2014-02-13 07:58] westonruter commented on #59
Core patch required for this to work is:

[code]

[2014-02-13 07:58] #59 closed, assigned to nobody

[2014-03-06 01:46] PeterKnight opened #98 "Wide widgets, position fixed + flexible widget height = usability issue"
The current solution for wide widgets relies on settings the widget form container to position fixed. If the widget form happens to be taller than the viewport height, the user can't actually navigate the full form. The work around I guess is for plugin authors to create a scroll type css workaround themselves?

I really dislike the current state of wide widgets in the customizer. Having it stuck

[2014-03-06 17:58] westonruter commented on #98
@PeterKnight You should open issues in Trac now. Further development will not happen on the GitHub repo.

[2014-03-06 17:58] #98 closed, assigned to nobody

[2014-03-11 09:00] westonruter commented on #98
This issue was just reported in Trac: https://core.trac.wordpress.org/ticket/27348

[2014-03-11 16:08] westonruter commented on #56
Moved to Trac: https://core.trac.wordpress.org/ticket/27358

[2014-03-11 16:08] #56 closed, assigned to nobody

[2014-03-11 16:08] westonruter commented on #85
Moved to Trac: https://core.trac.wordpress.org/ticket/27358

[2014-03-11 16:08] #85 closed, assigned to westonruter

[2014-03-11 16:09] westonruter commented on #90
Moved to Trac: https://core.trac.wordpress.org/ticket/27356

[2014-03-11 16:09] #90 closed, assigned to nobody

[2014-03-12 06:44] westonruter commented on #98
@PeterKnight here's a core patch which introduces scrollbars for widgets taller than the window: https://github.com/x-team/wordpress-develop/compare/trac-27348

[2014-03-13 21:19] westonruter commented on #78
Moved to trac: https://core.trac.wordpress.org/ticket/27403

[2014-03-13 21:19] #78 closed, assigned to nobody

[2014-03-13 21:24] westonruter commented on #46
Moved to trac: https://core.trac.wordpress.org/ticket/27404

[2014-03-13 21:24] #46 closed, assigned to nobody

[2014-03-13 21:44] westonruter commented on #76
Moved to Trac: https://core.trac.wordpress.org/ticket/27405

[2014-03-13 21:44] #76 closed, assigned to nobody

[2014-03-13 21:59] westonruter commented on #77
Moved to Trac: https://core.trac.wordpress.org/ticket/27406

[2014-03-13 21:59] #77 closed, assigned to nobody

[2014-03-13 21:59] westonruter commented on #81
Moved to Trac: https://core.trac.wordpress.org/ticket/27406

[2014-03-13 21:59] #81 closed, assigned to nobody

[2014-03-13 22:00] #73 closed, assigned to nobody

[2014-10-28 19:34] mandysnb opened #99 "The following required plugin is currently inactive: Widget customizer."
Cannot active the Widget customizer in Wordpress 4.0

[2014-10-28 20:34] westonruter commented on #99
It is part of Core now. You should not use the plugin now.

[2014-10-28 20:34] #99 closed, assigned to nobody

[2015-01-13 03:31] phpbits opened #101 "Question: Using add widget button on metabox?"
Hi,

I was wondering if this can work out of the box? can I call functions to add the 'Add Widget' to metabox. Thanks!

Cheers,
phpbits

[2015-01-13 03:41] westonruter commented on #101
This plugin is now part of Core, as for WordPress 3.9.

[2015-01-13 03:41] #101 closed

[2015-01-13 03:45] phpbits commented on #101
Yes I know, I just want to know if it's possible. Thanks!

[2016-05-13 13:57] raptor235 opened #102 "Sidebar terminology"
Has there been discussion on renaming the sidebar word to something more meaningful like widget area... the concept of sidebars has been long gone and widgetized areas should be referred to as such. If anything it causes confusion to end users.

[2016-05-13 13:58] raptor235 opened #103 "Feature Req: Scroll into view hovered widget"
I could see this being very helpful.. if the widget is offscreen scroll to it so the user can see what they're changing... This can be very helpful when you're dealing with a lot of widgets.

[2016-05-13 14:00] westonruter commented on #102
In general, yes. There has been a movement away from the word “sidebar” to use “widget area” instead.

This Widget Customizer project is now archived since it has been merged into Core, so it shouldn't be used for general discussion. WordPress Trac would be better.

[2016-05-13 14:00] #102 closed

[2016-05-13 16:43] westonruter commented on #103
Please open an issue on WP Trac: https://core.trac.wordpress.org/

This Widget Customizer plugin is now part of Core and the plugin is no longer being developed separately.

[2016-05-13 16:43] #103 closed